<div class="bg-pricing">
    <div class="bg-pricing-header">
        <h1>Pricing title</h1>
        <p class="bg-pricing-header__subtitle"></p>
    </div>

    <div class="bg-pricing-switcher">
        <div class="">Monthly</div>
        <div class="">Yearly</div>
    </div>

    <div class="bg-pricing-cards">
        <div class="bg-pricing-cards-wrapper">
            <div class="bg-pricing-cards-items">
                <div class="bg-pricing-cards-item">
                    <h3 class="bg-pricing-cards-item__price">
                        $250
                    </h3>
                    <div class="bg-pricing-cards-item__features">
                        <p>Feature 1</p>
                        <p>Feature 1</p>
                        <p>Feature 1</p>
                        <p>Feature 1</p>
                    </div>
                </div>
                <div class="bg-pricing-cards-item">
                    <h3 class="bg-pricing-cards-item__price">
                        $250
                    </h3>
                    <div class="bg-pricing-cards-item__features">
                        <p>Feature 1</p>
                        <p>Feature 1</p>
                        <p>Feature 1</p>
                        <p>Feature 1</p>
                    </div>
                </div>
                <div class="bg-pricing-cards-item">
                    <h3 class="bg-pricing-cards-item__price">
                        $250
                    </h3>
                    <div class="bg-pricing-cards-item__features">
                        <p>Feature 1</p>
                        <p>Feature 1</p>
                        <p>Feature 1</p>
                        <p>Feature 1</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="bg-pricing-matrix">

    </div>
</div>