@import 'src/assets/styles/partials/_bg-vars-and-mixins';

@import 'src/assets/styles/partials/_bg-elements';
// @import '';

.bg-music {
  $self: &;
  display: grid;

  &-hero {
    display: grid;
    min-height: 65vh;
  }

//   .bg-section-background {
//     background-color: #f2f2f2;

//   }

  &-talent {
    $self: &;
    display: grid;
    // width: 80vw;
    height: 95vh;
    width: $section-width;
    margin: $section-margin;
    grid-gap: 2rem;



    grid-template-areas:
      'bg-music-talent-wrapper'
      'bg-music-talent-body';

    #{ $self }-container {
        background-color: lighten($bg-il-yellow, 5%);
        border-radius: 4px;
        width: 80%;
        padding: 4rem;
        margin: $section-margin;
        height: 95vh;
      #{ $self }-wrapper {
        grid-area: bg-music-talent-wrapper;
        align-self: center;

        #{ $self }-title {
          // grid-area: ;
          display: grid;
          padding-bottom: 1rem;

          &__heading-overline {
            color: var(--secondary);
            @include justme;
            padding-bottom: 1rem;
          }

          &__heading {}

          &__subheading {
            padding-top: 0.5rem;
          }
        }

        #{ $self }-list {
          display: grid;
          grid-gap: 2rem;
          grid-auto-flow: column;
          grid-template-columns: repeat(3, minmax(0, 1fr));


          #{ $self }-item {
            padding: 1rem;
            border-radius: 4px;
            background-color: $bg-white;
            max-width: 25vw;
            opacity: 60%;
            // grid-template-columns: 1fr 1fr 1fr;

            &:hover {
              cursor: pointer;
              @include t-color ($bg-secondary);
              opacity: 100%;
            }

            &__title {
              display: flex;

            }

            &__description {
              padding-top: 1rem;
              @include bg-feature-text(feature-white);
            }

            &-active {
              // padding: 1rem;
              opacity: 100%;
            //   background-color: $bg-secondary;
              border-radius: 4px;
            //   color: var(--white);

            //   strong,
              mat-icon {
                color: var(--white);
              }

              // width: 70%;

            }

            transition: all ease 0.4;

          }
        }
      }

      #{ $self }-body {
        grid-area: bg-music-talent-body;
        // grid-column: 7/ -1;
        display: grid;
        height: 100%;
        max-height: 700px;
        // border: 1px solid $bg-secondary;

        // grid-template-columns: repeat(2, minmax(0, 1fr));
        // grid-gap: 2rem;
        // background-color: ;

        &-media {
        @include bg-grid (center, center);
        //   display: grid;
        //   align-items: center;
          max-height: 600px;
          // max-height: 800px;
          // width:

          &__image {
            height: 100%;
            // max-height: 800px;
            width: 100%;

          }

        }
      }
    }


  }

  &-tasks {
    @include bg-feature-2fr;
    align-items: center;

    &-header {
      display: grid;
      align-content: start;

      &__overline {
        @include bg-copy__overline;
      }

      &__subheading {
        @include bg-copy__subheading;
      }
    }


    &-body {
      @include bg-feature-body;

      &-media {
        @include bg-grid;
        // max-height: 800px;

        &__video {
          height: 100%;
          // max-height: 800px;
          width: 100%;
        }

      }
    }

  }

  &-financials {
    @include bg-feature-2fr;
    align-items: center;

    &-header {
      display: grid;
      align-content: start;

      &__overline {
        @include bg-copy__overline;
      }

      &__subheading {
        @include bg-copy__subheading;
      }
    }


    &-body {
      @include bg-feature-body;

      &-media {
        @include bg-grid;

        // max-height: 800px;

        &__video {
          height: 100%;
          max-height: 800px;
          width: 100%;
        }

      }
    }

  }

}
