@import '_bg-vars-and-mixins';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-page {
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
    border-top: 1px solid $bg-light-grey;
}
