@import '_bg-vars-and-mixins';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$bg-light-primary: mat-palette($bg-primary-palette, 800, 500, 100);
$bg-light-accent: mat-palette($bg-accent-palette, 800, 500, 100);
$bg-light-warn: mat-palette($mat-red);

// The warn palette is optional (defaults to red).
$bg-website-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bg-light-theme: mat-light-theme($bg-light-primary, $bg-light-accent, $bg-light-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bg-light-theme);
$bg-background: map-get($bg-light-theme, background);
$bg-foreground: map-get($bg-light-theme, foreground);

.mat-dialog-container {
  padding: 0 !important;
  z-index: 50;
}

.mat-dialog-title {
  margin: 0 !important;
}

.mat-dialog-content {
  margin: 0 !important;
  padding: 0 !important;
}
