<div class="cookies-grid p16">
  <div class="cookie-illustration">
    <img src="./assets/images/cookie.svg" class="" alt="Cookies banner">
  </div>
  <div class="cookie-copy t-white t-center">
    <h6 class="cookie-title">Yumm! Ghosts love cookies </h6>

    <p>They help us make your experience better.</p>
    <p class="p8-top t-grey cursor" (click)="cookiePolicy()">What kind of cookies?</p>

    <div class="p24-top cookie-cta"><button class="top-nav-cta" (click)="closeCookie()">
        <h6>Okay!</h6>
      </button></div>
  </div>
</div>
