<div class="bg-esports">
  <!-- content starts -->

  <section class="bg-esports-hero">
    <bgws-hero [header]="'Handle Everything E-Sports'"
      [subheader]="'this is the e-sports subheader to be thought about. This is the second line to engineer.'"
      [showTyped]="true">
    </bgws-hero>
  </section>

  <!-- Talent bookings -->
  <section class="bg-esports-talent">
    <header class="bg-esports-talent-header">
      <div class="bg-esports-talent-header__overline">
        Epic team hosting
        <div class="underline">

        </div>
      </div>
      <h2 class="bg-esports-talent-header__heading">Team and bookings management</h2>

      <div class="bg-esports-talent-header__subheading">
        <p class="">
          Make sure player teams have everything they need to perform at their best. And that goes for speakers, artists
          and influencers too.
          <!-- Centralize all relevant information for you talent bookings, whether they are players, bands, speakers or
          performers. -->
        </p>
        <br>
        <p>
          Colalborate seamlessly by collecting and sharing everything you need, from flights and itienraries to meet &
          greets.
        </p>
      </div>
    </header>

    <div class="bg-esports-talent-body">

      <div class="bg-esports-talent-body-media">
        <!-- <video src="https://www.loom.com/share/3c8cf672ebf748848294559db43c32a3" autoplay></video> -->
        <!-- <div style="position: relative; padding-bottom: 216.86746987951807%; height: 0;"> -->
        <iframe src="https://www.loom.com/embed/3c8cf672ebf748848294559db43c32a3?autoplay=1" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen class="bg-esports-talent-body-media__video"
          autoplay="1&loop=1&autopause=0" allow="autoplay"></iframe>
        <!-- </div> -->
      </div>
    </div>
  </section>


  <!-- Tasks -->
  <section class="bg-esports-tasks">


    <div class="bg-esports-tasks-body">

      <div class="bg-esports-tasks-body-media">
        <!-- <video src="https://www.loom.com/share/3c8cf672ebf748848294559db43c32a3" autoplay></video> -->
        <!-- <div style="position: relative; padding-bottom: 216.86746987951807%; height: 0;"> -->

          <img alt="illustration" src="../../assets/images/illustrations/bg-onboarding-coordinate.svg" class="bg-media__image">
        <!-- </div> -->
      </div>
    </div>

    <header class="bg-esports-tasks-header">
      <div class="bg-esports-tasks-header__overline">
        Accountability
        <div class="underline">

        </div>
      </div>
      <h2 class="bg-esports-tasks-header__heading">Tasks </h2>

      <div class="bg-esports-tasks-header__subheading">
        <p class="">
          Coordinate what your teams have to do inside of Blueghost
          <!-- Centralize all relevant information for you tasks bookings, whether they are players, bands, speakers or
          performers. -->
        </p>
        <br>
        <p>
          Colalborate seamlessly by collecting and sharing everything you need, from flights and itienraries to meet &
          greets.
        </p>
      </div>
    </header>
  </section>

  <!-- financials bookings -->
  <section class="bg-esports-financials">
    <header class="bg-esports-financials-header">
      <div class="bg-esports-financials-header__overline">
        Financial management
        <div class="underline">

        </div>
      </div>
      <h2 class="bg-esports-financials-header__heading">Team and bookings management</h2>

      <div class="bg-esports-financials-header__subheading">
        <p class="">
          Make sure player teams have everything they need to perform at their best. And that goes for speakers, artists
          and influencers too.
          <!-- Centralize all relevant information for you financials bookings, whether they are players, bands, speakers or
          performers. -->
        </p>
        <br>
        <p>
          Colalborate seamlessly by collecting and sharing everything you need, from flights and itienraries to meet &
          greets.
        </p>
      </div>
    </header>

    <div class="bg-esports-financials-body">

      <div class="bg-esports-financials-body-media">
        <!-- <video src="https://www.loom.com/share/3c8cf672ebf748848294559db43c32a3" autoplay></video> -->
        <!-- <div style="position: relative; padding-bottom: 216.86746987951807%; height: 0;"> -->
        <iframe src="https://www.loom.com/embed/3c8cf672ebf748848294559db43c32a3?autoplay=1" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen class="bg-esports-talent-body-media__video"
          autoplay="1&loop=1&autopause=0" allow="autoplay"></iframe>
        <!-- </div> -->
      </div>
    </div>
  </section>


  <!-- content ends -->
</div>
