  <section class="bg-signup-ctafooter">
    <div class="bg-signup-ctafooter-body feature-text">

      <div class="bg-signup-ctafooter__logo">
        <img src="../../assets/images/illustrations/bg-rocket-no-background.svg" alt=""
          class="bg-signup-ctafooter__logo-image">

      </div>

      <div class="bg-signup-ctafooter__heading">
        Take control of your events
        <div class="bg-signup-ctafooter__heading-underline-container">
          <img src="./../../assets/images/underlines/keep-it-together-underline.png" alt=""
            class="bg-signup-ctafooter__heading-underline">
        </div>
      </div>

      <p class="bg-signup-ctafooter__description ">
        The ultimate toolset for post pandemic events - without going mad.
      </p>


      <div class="bg-signup-ctafooter__cta">
        <button class="bg-btn-main" [routerLink]="'/signup'">
          Sign up &nbsp; <mat-icon>east</mat-icon>
        </button>
      </div>
    </div>

    <div class="bg-signup-ctafooter-waves">
      <div class="bg-signup-ctafooter-waves__small"><img src="./assets/images/background/footer-waves-1x.png"
          class="max-vw" alt="Footer image">
        </div>
      <div class="bg-signup-ctafooter-waves__large"><img src="./assets/images/background/footer-waves-4x.png"
          class="max-vw" alt="Footer image">
        </div>
    </div>
  </section>
