<nav class="bg-footer" aria-labelledby="sitemap">
  <div class="bg-footer__nav ">


    <div class="bg-footer__nav-item">
      <a class="" href="/home2">
        Home
      </a>
    </div>

    <div class="bg-footer__nav-item">
      <a class="" href="/features" [routerLink]="'/features'">
        Features
      </a>
    </div>



    <!-- <div class="bg-footer__nav-item">
      <a class="" href="/pricing" [routerLink]="'/pricing'">
        Pricing
      </a>
    </div> -->


    <!-- <div class="bg-footer__nav-item">
      <a class="" href="/blog" [routerLink]="'/blog'">
        Blog
      </a>
    </div> -->

    <div class="bg-footer__nav-item">
      <a href="mailto:hello@blueghost.co" class="" target="_blank">Contact</a>
    </div>
  </div>



  <div class="bg-footer__blueghost"> © Blueghost LLC.</div>
  <div class="bg-footer__logo">
    <img src="../assets/images/logos/bg_Logomark_Gradient.svg" class="bg-footer__logo-icon" width="40" height="" alt="Blueghost footer logo" href="/home2" [routerLink]="'/home2'">
  </div>



</nav>


<!-- 
  <div class="bg-footer-social">
    <div class="social-icons ">
      <a href='whatsapp://send?text=Blueghost - manage live events the smart way: http://www.blueghost.co'
        class="display-none">whatsApp</a>
      <div class="social-icon">
        <a href="https://www.instagram.com/blueghost.co/" target="_blank" rel="noopener">
          <img src="../assets/images/footer-instagram-grey.svg" width="24" alt="Follow Blueghost on Instagram">
        </a>
      </div>
    </div>
  </div> -->
