@import 'src/assets/styles/partials/_bg-vars-and-mixins';



.bg-email-form {
  display: flex;
  align-items: center;

  @include for-size (xs) {
    display: grid;
    grid-gap: 1rem;
  }

  &__input-wrapper {
    input {
      min-width: 18rem;
      line-height: 1.4;
      border-radius: 6px;
      border: none;
      font-size: 1rem;
      padding: 0 1rem;
      height: 3.25rem;

      @include for-size (gt-xs) {
        height: 57px;

      }

      @include for-size (xs) {
        border-radius: 6px;
        width: 100%;

      }

      //   &:focus {
      outline-color: $bg-yellow !important;
      //   }

    }

    @include for-size (gt-xs) {
      padding-right: 1rem;
    }
  }

  &__cta {
    padding: 0 1rem;
    display: grid;
    place-items: center;
    background-color: $bg-secondary;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    height: 3.5rem;
    width: max-content;
    color: var(--white);
    font-size: 1rem;

    &__text {
      align-self: center;
      // replace with .t-white
      color: var(--white);

      &-icon {
        &mat-icon {
          @include bg-icon (32px);
        }
      }
    }
  }

}
