<form class="bg-email-form">
  <div class="bg-email-form__input-wrapper">
    <input  class="" placeholder="Your email address">
  </div>

  <button class="bg-btn-main" [routerLink]="'/signup'">
    Get started
  </button>


  <!-- <div class="bg-email-form__cta">
    <a href="signup" [routerLink]="'/signup'" class="">
      <div class="bg-email-form__cta-text">
        Sign up free <mat-icon class="bg-email-form__cta-text-icon">arrow_right</mat-icon>
      </div>
    </a>

  </div> -->



</form>
